{% include 'head.html' %}

<body class="g-sidenav-show  bg-gray-200">
{% include 'sidebar.html' %}>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        {% include 'cash_src/cash_src_temp.html' %}
        {% include 'footer.html' %}
    </div>
</main>
{% include 'fixed-plugin.html' %}
<!--   Core JS Files   -->
{% include 'script.html' %}

</body>

</html>