<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="g-sidenav-show  bg-gray-200">
{% include 'sidebar.html' %}>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    {% include 'navbar.html' %}

    <div class="container-fluid py-4">

        {%set f1 = ["new-transaction"] %}

        <div class="p-4 bg-light">
            {%if front_data["title"][3] == f1[0] %}
                {% include 'forms/new-transaction.html' %}
            {% endif %}
        </div>

        {% include 'footer.html' %}
    </div>

</main>

{% include 'script.html' %}

<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>

</body>

</html>